<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 1. Permiso crítico para que la app actúe como USB Host y lea el sensor -->
    <uses-feature android:name="android.hardware.usb.host" android:required="true" />

    <!-- 2. Permiso de Internet para posteriormente enviar la plantilla al Microservicio Spring Boot -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LectorBiometricoApp"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- Acción por defecto al abrir la app desde el ícono -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 3. Escuchar cuando se conecta un dispositivo USB al puerto tipo C -->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <!-- 4. Vincular el evento USB exclusivamente al U.are.U 5300 usando el archivo xml -->
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />

        </activity>
    </application>

</manifest>